<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloSiri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelloSiriINExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HelloSiriINExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>969525E61D1520B000F77D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969525FA1D1520B000F77D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969526051D1520B000F77D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9695261B1D1523FD00F77D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>969526241D1523FE00F77D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
